<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<head>
    <title>Cannabis Affordability</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style>
    #chart rect {
        fill: green;
    }

    #chart text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
    }

    .axis text {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #fff;
        shape-rendering: crispEdges;
    }

    body {
        background: #1a1a1a;
        color: #eaeaea;
        padding: 10px;
    }
</style>

<body>

    Goto maps <a class="text-info" href="/">HERE</a>
    <br>
    <br>
    <div id="chart"></div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/templates/bar.js"></script>

</body>